<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VB_PROJECT.My.MySettings.retail_2026ConnectionString"
            connectionString="Data Source=LAPTOP-J00GTT09\SQLEXPRESS;Initial Catalog=retail-2026;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="VB_PROJECT.My.MySettings.HotelDBConnectionString"
            connectionString="Data Source=LAPTOP-J00GTT09\SQLEXPRESS;Initial Catalog=HotelDB;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>